	#grids{	
		width: 1335px;
		position: absolute;
		left: 250px;
		height: 800px;		
		background:#FFF;
		padding:13px 100px 0 25px;
	}
	
	#sidebar{
		float:left;
		background:#FAFAFA;
		width:250px;	
		padding:13px 0 0 25px;
		height:800px;
		border-right:1px solid #eee;
	}

	.checklist ul li{	
	font-size:14px;
	font-weight:400;
	list-style:none;
	padding: 7px 0 7px 23px;
}
.checklist li span{
	float:left;
	width:11px;
	height:11px;
	margin-left:-23px;
	margin-top:4px;
	border: 1px solid #d1d3d7;
	position:relative;	
}
.sizes li span, .categories .sizes li{
	-webkit-transition: all 300ms ease-out;
	   -moz-transition: all 300ms ease-out;
	    -ms-transition: all 300ms ease-out;
	     -o-transition: all 300ms ease-out;
	        transition: all 300ms ease-out;
}
.checklist li a{
	color:#676a74;
	text-decoration:none;	
	-webkit-transition: all 300ms ease-out;
	   -moz-transition: all 300ms ease-out;
	    -ms-transition: all 300ms ease-out;
	     -o-transition: all 300ms ease-out;
	        transition: all 300ms ease-out;
}
.checklist li a:hover{	
	color:#222;
	-webkit-transition: all 300ms ease-out;
	   -moz-transition: all 300ms ease-out;
	    -ms-transition: all 300ms ease-out;
	     -o-transition: all 300ms ease-out;
	        transition: all 300ms ease-out;
}
.checklist a:hover span{ 	
	border-color:#a6aab3;	
}
.sizes a:hover span, .categories a:hover span{	
	border-color:#a6aab3;
	-webkit-transition: all 300ms ease-out;
	   -moz-transition: all 300ms ease-out;
	    -ms-transition: all 300ms ease-out;
	     -o-transition: all 300ms ease-out;
	        transition: all 300ms ease-out;
}
.checklist a span span{border:none;margin:0;float:none; position:absolute;top:0;left:0;}
.checklist a .x{
	display:block;
	width:0;	 
	height:2px;
	background:#5ff7d2;
	top:6px;
	left:2px;	
	-ms-transform: rotate(45deg); 
   	-webkit-transform: rotate(45deg); 
    transform: rotate(45deg);	
	-webkit-transition: all 50ms ease-out;
}
.checklist a .x.animate{
	width:4px;
	-webkit-transition: all 100ms ease-in;
	   -moz-transition: all 100ms ease-in;
	    -ms-transition: all 100ms ease-in;
	     -o-transition: all 100ms ease-in;
	        transition: all 100ms ease-in;
}
.checklist a .y{
	display:block;
	width:0px; 
	height:2px;
	background:#5ff7d2;
	top:4px;
	left:3px;	
	-ms-transform: rotate(13deg); 
   	-webkit-transform: rotate(135deg); 
    transform: rotate(135deg);	
	-webkit-transition: all 50ms ease-out;
}
.checklist a .y.animate{
	width:8px;
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
	    -ms-transition: all 100ms ease-out;
	     -o-transition: all 100ms ease-out;
	        transition: all 100ms ease-out;
}
.checklist .checked span{
	border-color:#8d939f;
}